@model AttendanceSystem.Models.Department

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/master.cshtml";
}

<!--begin::Portlet-->
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Delete Department
                </h3>
            </div>
        </div>
    </div>

    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator" action="@Url.Action("delete","Departments")" method="post">
        @Html.AntiForgeryToken()
        <div class="m-portlet__body">
            <h3 class="text-center p-4">Are you sure you want to delete this?</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-danger">Confirm</button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--end::Form-->
</div>

<!--end::Portlet-->