/* Style the tab */
.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 12px 8px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}
.tab button.active:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    display: block;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-right: 15px solid #fff;
    right: 15px;
    margin-top: -25px;
}
/* Style the tab content */
.tabcontent {
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    background-color: #f1f1f1;
    height: 100%;
}